@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
}
body{
    overflow: hidden;
}

/* input[type=range]::-webkit-slider-runnable-track{
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000; 

}
*/

header{
    position: sticky;
    top: 0;
    width: 100vw;
    height: 10vh;
    background: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

header img{
    width: 4vw;
    height: 4vw;
    filter: brightness(0) invert(1);
}

header h3{
    color: aliceblue;
    font-size: 3.5vh;
    margin: auto;
}

section{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#scroll{
    height: 98%;
    width: 30vw;
    margin-left: 2vh;
    background: linear-gradient(rgb(150, 150, 150),rgb(100, 100, 100), rgb(50, 50, 50));
    border-radius: 1vh;
    overflow-y: scroll;
}
#cover_art{
    height: 98%;
    width: 67vw;
    margin-left: 2vh;
    margin-right: 1vh;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
}

footer{
    position: sticky;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
}


/* 
#main_img{
    animation: pad 5s linear infinite;

} */

footer img{
    border-right: 2px solid grey;
    opacity: 0;
    animation: pad 5s linear infinite;
    mix-blend-mode: screen;
    transition: 1s,opacity 0.3s;
}
@keyframes pad{
    0%{
        filter: hue-rotate(0deg) brightness(2);
    }

    50%{
        filter: hue-rotate(180deg) brightness(0.5);
    }
    100%{
        filter: hue-rotate(360deg) brightness(2);
    }
}
.btn{
    color: aliceblue;
    font-size: 5vh;
    align-self: center;
    margin: auto;
}

.btn .bx{    
    position: relative;
    left: 0;
}


#progressBar{
    width: 50vw;
    height: 2px;
    background: blue;
    position: relative;
    bottom: 1vh;
    margin: auto;

}

#current_duration{
    color: aliceblue

}

#total_duration{
    color: aliceblue
    
}


@media only screen and (max-width: 600px){
    header{
        height: 8vh;
    }

    header img{
        width: 45px;
        height: 45px;
        position: relative;
        left: 5px;
    }
    
    section{
        height: 84vh;

    }

    .btn{
        margin: 0;
        display: flex;
        position: relative;
        left: 0;
    }

    .btn .bx{
        padding: 0;
        margin: 0;
    }

    footer{
        height: 8vh;
    }
    footer img{
        display: none;
    }
}